SERVER_PORT=8080

CAMPUSHUB_DB_URL=jdbc:mysql://localhost:3306/campushub?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
CAMPUSHUB_DB_USERNAME=root
CAMPUSHUB_DB_PASSWORD=

CAMPUSHUB_REDIS_HOST=localhost
CAMPUSHUB_REDIS_PORT=6379
CAMPUSHUB_REDIS_PASSWORD=
CAMPUSHUB_REDIS_DATABASE=0

CAMPUSHUB_VIEW_COUNT_FLUSH_INTERVAL_SECONDS=10
CAMPUSHUB_HOT_POST_CACHE_TTL_SECONDS=300
CAMPUSHUB_HOT_POST_CACHE_JITTER_SECONDS=60
CAMPUSHUB_HOT_POST_EMPTY_CACHE_TTL_SECONDS=30
CAMPUSHUB_HOT_POST_REBUILD_LOCK_TTL_SECONDS=10

CAMPUSHUB_ROCKETMQ_NAME_SERVER=localhost:9876
CAMPUSHUB_ROCKETMQ_PRODUCER_GROUP=campushub-producer-group
CAMPUSHUB_COMMENT_TOPIC=campushub-comment-event
CAMPUSHUB_LIKE_TOPIC=campushub-like-event
